<!doctype html>
<meta charset=utf-8>
<meta name="viewport" content="width=device-width, initial-scale=1" />
{%- seo -%}
<link href="{{ site.baseurl }}/favicon.ico" rel="icon" />
<link rel="apple-touch-icon" href="https://v3.juncture-digital.org/images/mobile-icon.png">
<!-- <link href="https://cdn.jsdelivr.net/npm/juncture-digital/css/index.css" rel="stylesheet"> -->

  <script>
    console.log(location)
    let mode = location.hostname === 'localhost' ? 'dev' : 'prod'
    let useLocalWC = mode === 'dev' && location.port === '3300'
    let basePath = mode === 'prod' ? `https://raw.githubusercontent.com/rsnyder/juncture-docs/main/` : '/'

    console.log(`mode=${mode} useLocalWC=${useLocalWC} basePath=${basePath}`)

    window.$docsify = {
      alias: { '.*/_sidebar.md': '/_sidebar.md' },
      autoHeader: false,
      auto2top: true,
      basePath,
      homepage: 'README.md',
      loadNavbar: false,
      loadSidebar: true,
      logo: 'https://juncture-digital.github.io/juncture/static/images/favicon.svg',
      name: 'Juncture',
      routerMode: 'history', // hash or history
    }

    // let wcScript = document.createElement('script')
    // wcScript.src = useLocalWC ? 'http://localhost:5173/main.ts' : 'https://cdn.jsdelivr.net/npm/juncture-digital/js/index.js'
    // wcScript.src = useLocalWC ? 'http://localhost:5173/main.ts' : 'https://v3.juncture-digital.org/wc/dist/js/index.js'
    // wcScript.type = 'module'
    // document.body.appendChild(wcScript)
  </script>

<main class="page-content" aria-label="Content">
  {{ content }}
</main>

<!-- <script src="https://cdn.jsdelivr.net/npm/juncture-digital/js/index.js" type="module"></script> -->
<script type="module">
  let root = document.body.querySelector('main')
  console.log(root)
  let html = root.innerHTML
  console.log(html)
</script>
